# Flutter/Dart build files
.dart_tool/
build/
flutter_*.png
.flutter-plugins
.flutter-plugins-dependencies
.packages
.idea/

# VS Code settings
.vscode/

# OS system files
.DS_Store
Thumbs.db

# Node.js dependencies (just in case you install any npm packages later)
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
